<div id="recipes" class="center_box">
    <h1>Recipes{{#if ingredient}} including {{ingredient}}{{/if}}</h1>
    <ul>
        {{#each recipes}}
            <li><a href="/r/{{this._id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>