.App {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.App-logo {
  height: 80px;
}

.home::after {
  content: "";
  background: url("img/concert.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -1;
}

input {
  border: 1px solid #1e8678;
}
.show-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.App-header {
  background-color: #6b5b95;
  min-height: 200px;
  padding: 20px;
  color: #222;
}

.PageNav {
  background-color: #feb236;
  min-height: 20px;
  padding: 20px;
  color: #222;
}

.search {
  padding-top: 10px;
  padding-bottom: 5px;
}

.App-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

cite {
  font-weight: bold;
}
table {
  align-content: center;
  margin: auto;
}
td {
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.cap-first-letter:first-letter {
  text-transform: capitalize;
}
.col-sm-6,
col-md-4 {
  border: 1px;
}

.hometext {
  max-width: 60%;
}

.navlink {
  padding: 0.4rem 0.8rem;
  background-color: white;
  border-radius: 3px;
  color: #1e8678;
  text-decoration: none !important;
  margin: 5px;
}

.navlink:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.navlink-disabled {
  padding: 0.4rem 0.8rem;
  background-color: gray;
  border-radius: 3px;
  color: #1e8678;
  text-decoration: none !important;
  margin: 5px;
  pointer-events: none;
}

li {
  padding: 1%;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div {
  text-align: center;
}

a {
  color: #1e8678;
  text-decoration: none !important;
}

ul a:hover {
  background-color: transparent;
  color: blue;
}

ul {
  list-style: none;
}

.title {
  font-weight: bold;
  color: #1e8678;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    font-size: 16px;
  }
}

dt {
  font-weight: bold;
}

.social-icon {
  height: 40px;
  width: 40px;
  margin: 15px;
  display: block;
}

.social-link {
  margin-bottom: 25px
}

.social-link:hover {
  outline-color: black;
  outline-width: 2px;
  outline-style: solid;
  border-radius: 15px;
}


