<h1>People Found</h1>
<main>
    <section>
        <h2>You searched for: <strong>{{personName}}</strong></h2>
        <p class="not-found">We're sorry, but no results were found for {{personName}}</p>
    </section>
</main>
