<div class="comment">
    <div class="comment-rating">
        {{{getStars this.rating}}}<br>
    </div>
    <div class="comment-body">
        {{body}}
    </div>
    <div class="comment-author">
        by <strong>{{username}}</strong>
    </div>
</div>
