<div id="navbar">
    <div class="nav_item">
        <a href="/r">All Recipes</a>
    </div>
    <div class="nav_item">
        <a href="/i/create">Create an ingredient!</a>
    </div>
    <div class="nav_item">
        <a href="/r/create">Create a Recipe!</a>
    </div>
    <div class="nav_item">
        <a href="/">Home</a>
    </div>
    <div class="nav_item">
        <a href="/logout">Sign Out</a>
    </div>
</div>