<div class="comment">
    <form id="newComment" action="/review" method="post">
        <input type="hidden" name="userid" value="{{user._id}}">
        <input type="hidden" name="recipeid" value="{{recipe._id}}">
        <div class="comment-rating">
            <span class="rating">
                <input type="radio" id="rate5" name="rating" value="5" /><label for="rate5" title="5star"></label>
                <input type="radio" id="rate4" name="rating" value="4" /><label for="rate4" title="4star"></label>
                <input type="radio" id="rate3" name="rating" value="3" /><label for="rate3" title="3star"></label>
                <input type="radio" id="rate2" name="rating" value="2" /><label for="rate2" title="2star"></label>
                <input type="radio" id="rate1" name="rating" value="1" checked/><label for="rate1" title="1star"></label>
            </span>
        </div>
        <div class="comment-body">
            <textarea class="comment-body" id="comment_text" name="body"></textarea><label for="comment_text"></label>
        </div>
        <input type="submit" value="Publish Comment">
        <div class="comment-author">
            by <strong>{{user.username}} (You)</strong>
        </div>
    </form>
</div>
